@tailwind base;
@tailwind components;
@tailwind utilities;

.table-data {
  width: 100%;
  border: 1px solid #6d6a6a;
  table-layout: fixed;
}

.table-data th {
  text-align: left;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #6d6a6a;
}

.table-data td {
  padding: 15px 12px;
  font-size: 18px;
}
.table-data tr {
  border-bottom: 0.5px solid #6d6a6a;
}

.form_input {
  width: 100%;
  border: 1px solid white;
  padding: 10px;
  font-size: 18px;
}
div:has(> .form_input) {
  margin-bottom: 12px;
}
.address {
  width: 100%;
  padding: 12px;
}
.form_input:focus,
.address:focus {
  outline: none;
}
input {
  outline: none;
}
